body {
    margin: 15px;
    font-family: sans-serif;
}

form {
    margin-bottom: 14px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container--app {
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
}

.container--dial {
    padding: 25px;
    flex-wrap: wrap;
    background-color: #0097A9;
    border-radius: 10px;
    justify-content: space-around;
}

.output {
    box-shadow: 0 1px 3px rgba(0,0,0,.14);
    margin-bottom: 14px;
    padding: 12px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    height: 50px;
    margin: 5px 0;
    background-color: #EB9D08;
    border: 1px solid #126D7F;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 8px 6px #f5dcae;
    user-select: none;
}

.button:active {
    box-shadow: inset 8px 6px #795f2e; 
}

.button--disabled {
    background-color: #d8bf90;
    cursor: default;
}

.button__title {
    display: block;
    font-weight: 700;
}

.button__subtitle {
    font-size: 10px;
}

input[type="text"] {
    padding: 3px 0 3px 15px;
    width: 100%;
    height: 38px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #e9eef2;
    border-radius: 3px;
}